@mixin bg-overlay {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba($bg-color, $bg-opacity);
  z-index: -1;
}

@mixin background {
  @if $show-bg-image {
    &#bg-img {
      background: $bg-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        @include bg-overlay;
      }
    }
  }
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  @include background;
  margin: 0;
  height: 100%;
  background-color: $bg-color;
  color: set_text_color($bg-color);
}

main {
  //sticky footer

  min-height: calc(100vh - 60px); //main height - footer height
}

#main-footer {
  width: 100%;
  text-align: center;
  padding: 1rem;
  color: #fff;
  height: 60px;
  background: darken($bg-color, 10);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;
}

.lg-heading {
  font-size: 6rem;
}

.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  font-size: 2rem;
}

.title-text-secondary {
  color: $secondary-color;
}

//MEDIA QUERIES
@include mediaSm {
  //mixin.scss
  main {
    align-items: center;
    text-align: center;
    //margin-top: 10vh;
  }

  .lg-heading {
    margin-bottom: 1rem;
  }
}
